#..travis.yml

language: node_js
node_js:
- "10.13.0"

branches:
  only:
  - master

before_script:
- npm install -g firebase-tools
- npm install -g @angular/cli

script:
- npm run ci

after_success:
- firebase deploy --token $FIREBASE_TOKEN

notifications:
  email:
    on_failure: change
    on_success: change
