@import '../../../scss//variables';
@import '@angular/material/theming';

:host ::ng-deep {
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-infix {
    padding: 7px 0;
    margin: 0;
    border-top: 13px solid transparent;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-suffix {
    transform: translateY(4px);
    margin-left: 7px;
  }
}

mat-form-field {
  width: 100%;
}

.danger-zone-wrapper {
  margin-top: 24px;

  h4 {
    margin: 5px 0;
    color: mat-color($warn);
    font-weight: 400;
  }
}

.danger-zone {
  list-style: none;
  border: 1px solid mat-color($warn);
  border-radius: 3px;
  padding: 15px;
  margin: 10px 0;
}

.danger-zone-cta-title {
  font-weight: 500;
}

.danger-zone-cta-content {
  display: flex;
  flex-direction: column;

  button {
    align-self: flex-end;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  ::ng-deep .mat-form-field-infix {
    border-top: 0;
  }

  mat-form-field {
    margin-bottom: 1rem;
  }
}
