@use '@angular/material' as mat;
@use '../../../scss/custom-theme' as theme;
@import '../../../scss/mixins';

:host {
  font-size: 1rem;
  background: mat.get-color-from-palette(theme.$app-primary, lighter, 0.3);
  border: 1px solid mat.get-color-from-palette(theme.$app-primary, 0.8);
  border-radius: 3px;
  color: #2b2b2b;
}

::ng-deep {
  .ac-dropdown {
    border-radius: 8px;
    margin: -8px 0 0 0;
    max-height: 268px !important;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15) !important;

    .mat-mdc-selected:not(.mat-mdc-option-multiple) {
      background: mat.get-color-from-palette(theme.$app-primary, lighter, 0.3) !important;
    }
  }
}

:host ::ng-deep {
  .mat-mdc-form-field-subscript-wrapper,
  .mdc-line-ripple {
    display: none;
  }

  mat-select {
    line-height: 2rem;
  }

  .mat-mdc-select-trigger {
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0px 10px;
  }

  .mat-mdc-select-value {
    max-width: 140px !important;
    padding-right: 5px;
  }

  .mat-mdc-select-arrow {
    margin-right: 0 !important;
  }

  .mat-mdc-text-field-infix {
    width: auto !important;
  }

  .mat-mdc-text-field-wrapper,
  .mat-mdc-form-field-infix {
    padding: 0 !important;
    border: 0 !important;
    min-height: unset;
  }
}
