<ac-toolbar> <ac-toolbar-logo></ac-toolbar-logo> </ac-toolbar>
<main>
  <div class="projects-header">
    <div class="welcome-wrapper">
      <div class="welcome-message">
        <h1>Welcome to Checklist App!</h1>
        <p class="welcome-subtitle">Curated list of common mistakes made when developing software applications.</p>
      </div>
      <img src="assets/undraw_checklist.svg" alt="Checklist" />
    </div>
  </div>
  <div class="projects-list-wrapper">
    <h5>Your Projects</h5>
    <div class="projects-grid">
      <mat-card matRipple (click)="addProject()" class="add-project-card">
        <mat-icon>add</mat-icon>
        Add Project
      </mat-card>
      <mat-card (click)="navigateToProject(project.id)" *ngFor="let project of (projects$ | async)">
        <div class="card-ripple" matRipple></div>
        <mat-card-content>
          <h2 class="project-name">{{ project.name }}</h2>
        </mat-card-content>
        <mat-card-actions align="right">
          <!-- Hai Thai : Comment out this feature ( hidden feature )-->
          <div class="progress" style="display: none">
            <ac-score-chart class="primary" [score]="project.score"></ac-score-chart>
            <span class="score">{{ project.score | percent: '.0-2' }} completed</span>
          </div>
          <button (click)="editProject($event, project)" (mousedown)="$event.stopPropagation()" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</main>
<ac-footer></ac-footer>
