<h2>🤔 What is it?</h2>
<mat-dialog-content>
  <p>
    INote is a curated list of best practices that we believe every application should follow in order to
    avoid some common pitfalls.
  </p>
  <p>
    The idea is that for all your projects, you can go over the checklist and see which items your projects already
    comply with and which you still have to put in some more effort!
  </p>
  <p>If you follow the items in this list, your project will definitely be on track to success 🏆!</p>
  <ac-authors></ac-authors>
</mat-dialog-content>
