<input
  placeholder="Search"
  spellcheck="false"
  (focus)="focused()"
  [formControl]="searchField"
  [matAutocomplete]="auto"
/>
<mat-autocomplete
  #auto="matAutocomplete"
  [displayWith]="getOptionText.bind(this)"
  (optionSelected)="optionSelected($event)"
>
  <mat-option *ngFor="let result of results()" [value]="result">
    <span *ngIf="result.document.category" class="result-type">{{ result.document.category }}</span>
    <span class="text" [innerHTML]="result.text"></span>
  </mat-option>
</mat-autocomplete>
