<input placeholder="Search" spellcheck="false" [formControl]="searchField" [matAutocomplete]="auto" />
<mat-autocomplete
  #auto="matAutocomplete"
  [displayWith]="getOptionText.bind(this)"
  (optionSelected)="optionSelected($event)"
>
  @for (result of results(); track result) {
  <mat-option [value]="result">
    @if (result.document.category) {
    <span class="result-type">{{ result.document.category }}</span>
    }
    <span class="text" [innerHTML]="result.text"></span>
  </mat-option>
  }
</mat-autocomplete>
