<mat-checkbox color="primary" (click)="toggleItem.emit(item)" [checked]="item.checked"></mat-checkbox>
<a [class.done]="item.checked" [routerLink]="['../../checklist', item.category, item.id]">{{ item.title }}</a>
<ac-checklist-favorite-button
  [active]="item.favorite"
  (toggle)="toggleFavorite.emit(item)"
></ac-checklist-favorite-button>
<button class="delete-icon" [ngStyle]="_style" mat-icon-button [disableRipple]="disableRipple" (click)="deleteCheckListItem()">
  <mat-icon class="delete-icon" [class.active]="active">delete</mat-icon>
</button>

