<mat-checkbox color="primary" (click)="toggleItem.emit(item)" [checked]="item.checked"></mat-checkbox>
<a [class.done]="item.checked" [routerLink]="['../../checklist', item.category, item.id]">{{ item.title }}</a>
<ac-checklist-favorite-button
  [active]="item.favorite"
  (toggle)="toggleFavorite.emit(item)"
></ac-checklist-favorite-button>
<button class="edit-icon  ck-icon" mat-icon-button>
  <mat-icon class="edit-icon" [routerLink]="['../../checklist', item.category, item.id, 'edit']">edit</mat-icon>
</button>
<button class="delete-icon ck-icon" mat-icon-button (click)="deleteCheckListItem()">
  <mat-icon class="delete-icon">delete</mat-icon>
</button>

