<div class="content">
  <h4>Who</h4>
  <span>
    Hi 🤗, this is a project brought to you by <a href="https://twitter.com/elmd_">Dominic Elm</a> and <a
    href="https://twitter.com/kwintenp">Kwinten Pisman</a>.
  </span>
  <br>
  <h4>Why</h4>
  <span>
    When we were doing code reviews, we would often see the same mistakes being made. That's when we decided to create angular-checklist 😊!
  </span>
  <h4>What</h4>
  <span>
    Angular checklist is a curated list of items that we believe every application should follow. We transformed every item into a 'todo' item.
    The idea is that for every project you have, you can go over the checklist and see which points your projects already complies with and which
    ones you still have to put in some more effort!

    If you follow every point in this list, your project will definitely be on track to success!
  </span>
</div>
