@import '../../../scss/variables';
@import '~@angular/material/theming';

$default-filling: #dadada;
$default-border: #dadada;

:host {
  display: inherit;
  --percentage: 0;
  --max-stroke: 189;
  --progress-color: #{$default-filling};
  --done-color: #{$default-filling};
  --border-color: #{$default-border};

  &.primary {
    --progress-color: #{mat-color($primary, lighter)};
    --border-color: #{mat-color($primary)};
    --done-color: #{mat-color($primary)};
  }

  &.done {
    .filling-done {
      animation: fill-circle 0.3s cubic-bezier(0.77, 0, 0.175, 1) forwards;
      animation-delay: 0.25s;
    }

    .path {
      stroke-dashoffset: -100;
      -webkit-animation: dash-check 0.9s 0.35s cubic-bezier(0.77, 0, 0.175, 1) forwards;
      animation: dash-check 0.9s 0.35s ease-in-out forwards;
      animation-delay: 0.4s;
    }
  }
}

.filling-done {
  opacity: 0;
  stroke: var(--done-color);
}

.path {
  opacity: 0;
  stroke-dasharray: 1000;
  stroke-dashoffset: -100;
  stroke: white;
  stroke-width: 10px;
  transform: rotate(90deg) translate(16px, 20px) scale(0.9);
  transform-origin: center;
}

.pie {
  transform: rotate(-90deg);
  border-radius: 50%;
}

.filling {
  fill: transparent;
  stroke: var(--progress-color);
  stroke-width: 60px;
  transition: stroke-dasharray 0.2s ease-out;
  stroke-dasharray: calc(var(--percentage) * var(--max-stroke)) var(--max-stroke);
}

.border {
  fill: transparent;
  stroke-width: 8px;
  stroke: var(--border-color);
}

@keyframes fill-circle {
  0%,
  100% {
    opacity: 1;
  }
  100% {
    stroke-width: 120px;
  }
}

@keyframes dash-check {
  0%,
  100% {
    opacity: 1;
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
