@import '../../../scss/variables';
@import '@angular/material/theming';

$default-filling: #dadada;
$default-border: #dadada;

:host {
  display: inherit;
  --percentage: 0;
  --max-stroke: 189;
  --progress-color: #{$default-filling};
  --done-color: #{$default-filling};
  --border-color: #{$default-border};

  &.primary {
    --progress-color: #{mat-color($primary, lighter)};
    --border-color: #{mat-color($primary)};
    --done-color: #{mat-color($primary)};
  }

  &.done {
    .filling-done {
      transform: scale(1);
      transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
      transition-delay: 0.25s;
    }

    .path {
      animation: dash-check 0.5s ease-in-out forwards;
      animation-delay: 0.4s;
    }
  }
}

.filling-done {
  transform: scale(0);
  fill: var(--done-color);
  transform-origin: center;
}

.path {
  stroke-dasharray: 400;
  stroke-dashoffset: 500;
  stroke-linecap: round;
  stroke: white;
  stroke-width: 10px;
  transform: rotate(90deg) translate(16px, 20px) scale(0.9);
  transform-origin: center;
}

.pie {
  transform: rotate(-90deg);
  border-radius: 50%;
}

.filling {
  fill: transparent;
  stroke: var(--progress-color);
  stroke-width: 60px;
  transition: stroke-dasharray 0.2s ease-out;
  stroke-dasharray: calc(var(--percentage) * var(--max-stroke)) var(--max-stroke);
}

.border {
  fill: transparent;
  stroke-width: 8px;
  stroke: var(--border-color);
}

@keyframes dash-check {
  from {
    stroke-dashoffset: 400;
  }
  to {
    stroke-dashoffset: 0;
  }
}
