<ac-toolbar [class.desktop]="(desktop$ | async) === true" [class.small]="(small$ | async) === true">
  <button class="menu-button" mat-icon-button (click)="sideNav.toggle()"><mat-icon>menu</mat-icon></button>
  <ac-toolbar-logo [showText]="(desktop$ | async) === true"></ac-toolbar-logo>
  <ac-dropdown
    (selectionChange)="navigateToProject($event)"
    [items]="projects$ | async"
    [selected]="selectedProjectId$ | async"
    bindLabel="name"
    bindValue="id"
  >
    <ac-dropdown-static-options>
      <ac-dropdown-static-option routerLink="/"> <mat-icon>edit</mat-icon> Manage Projects </ac-dropdown-static-option>
    </ac-dropdown-static-options>
  </ac-dropdown>
  <ac-checklist-search *ngIf="mediumUp$ | async"></ac-checklist-search>
</ac-toolbar>
<mat-sidenav-container>
  <mat-sidenav [mode]="sideNavMode" [autoFocus]="false" #sideNav>
    <div class="section-container">
      <section>
        <nav class="nav-item">
          <ac-score-chart [class.primary]="rla.isActive" [score]="favoritesScore$ | async"></ac-score-chart>
          <a class="sidenav-link" routerLink="favorites" #rla="routerLinkActive" routerLinkActive="active">
            <span
              [matBadge]="favoritesCount$ | async"
              [matBadgeHidden]="(favoritesCount$ | async) <= 0"
              matBadgeColor="accent"
              matBadgeOverlap="false"
              >Favorites</span
            >
          </a>
        </nav>
      </section>
      <section class="category-list-wrapper">
        <div class="section-header">
          <h4>CATEGORIES</h4>
          <mat-slide-toggle (change)="toggleEditMode()">Edit</mat-slide-toggle>
        </div>
        <div class="category-list">
          <nav class="category" *ngFor="let category of categories$ | async; trackBy: trackBySlug">
            <ac-score-chart *ngIf="!editMode" [class.primary]="rla.isActive" [score]="category.score"></ac-score-chart>
            <a
              class="sidenav-link"
              [class.disabled]="!category.enabled"
              #rla="routerLinkActive"
              routerLinkActive="active"
              [routerLink]="category.slug"
            >
              {{ category.title }}
            </a>
            <mat-checkbox
              *ngIf="editMode"
              color="primary"
              (click)="toggleCategory(category)"
              [checked]="category.enabled"
            ></mat-checkbox>
          </nav>
        </div>
      </section>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="scroll-container"><router-outlet></router-outlet></div>
    <div *ngIf="editMode" class="overlay"><span>🧐 Ups, seems like you're in edit mode!</span></div>
  </mat-sidenav-content>
</mat-sidenav-container>
<ac-footer></ac-footer>
