@import '../../scss/variables';
@import '~@angular/material/theming';

@mixin linkHover() {
  --hover-box-translate-x: 120%;
  --hover-box-skew: 0;

  position: relative;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: mat-color($primary, lighter, 0.3);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
    transform: skew(var(--hover-box-skew)) translateX(var(--hover-box-translate-x));
  }

  &:not(.active):hover::after {
    --hover-box-translate-x: 200px;
    --hover-box-skew: 20deg;
  }

  &.active {
    color: mat-color($primary);
    --hover-box-translate-x: 0;
    --hover-box-skew: 0deg;
  }
}

:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

mat-sidenav {
  width: 300px;
  padding: 1rem 0;
}

mat-sidenav-container {
  flex: 1;
}

mat-toolbar {
  button:not(.menu-button) {
    margin-left: auto;
  }
}

.sidenav-link {
  @include linkHover();

  display: flex;
  align-items: center;
  color: initial;
  padding: 8px;
  font-weight: 500;

  ::ng-deep .mat-badge-content {
    top: -14px;
  }

  app-checklist-score-chart {
    width: 26px;
    margin-right: 10px;
  }

  mat-icon {
    margin-right: 10px;
    color: #d4d4d4;
  }

  &.active {
    mat-icon {
      color: mat-color($primary);
    }
  }
}

.menu-button {
  margin-right: 10px;
}

section {
  padding: 10px 0 10px 15px;

  h4 {
    margin: 15px 0;
  }
}

.category-list {
  padding: 0;
}

.category-header {
  @include linkHover();

  display: flex;
  align-items: center;
  padding: 8px;
  font-weight: 500;
  color: inherit;
}

.category-item-list {
  padding: 0;
  margin: 10px 0;
  list-style: none;

  a {
    display: inline-block;
    width: 100%;
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
    line-height: 16px;

    &:hover,
    &.active {
      color: mat-color($primary);
    }
  }
}

.category-item {
  padding: 2px 8px 2px 20px;

  & + & {
    margin-top: 4px;
  }
}

.category {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;

  &:active,
  &:focus,
  &:active {
    color: mat-color($primary);
  }

  app-checklist-score-chart {
    width: 26px;
    margin-right: 10px;
  }

  & + & {
    margin-top: 10px;
  }
}
