@use '@angular/material' as mat;
@use '../../../scss/custom-theme' as theme;

:host {
  display: flex;
  font-size: 0.8rem;
}

.info {
  display: flex;
  align-items: center;
  border: 1px solid theme.$primary;
  color: theme.$primary;
  padding: 4px 7px;
  transition: background-color 0.3s cubic-bezier(0.35, 0, 0.25, 1);

  &:hover {
    background-color: mat.get-color-from-palette(theme.$app-primary, lighter, 0.3);
  }

  & + & {
    margin-left: 0.7rem;
  }

  a {
    color: inherit;
  }
}
