<div class="authors">
  <span
    ><ng-container i18n="@@authorsCreaters">Made with</ng-container
    ><fa-icon class="heart" icon="heart"></fa-icon> by</span
  >
  <div class="author-list">
    <a class="author" href="https://www.twitter.com/elmd_" target="_blank">
      <fa-icon class="twitter" [icon]="['fab', 'twitter']"></fa-icon>
      <span class="name">Dominic</span>
    </a>
    <span class="ampersand">&</span>
    <a class="author" href="https://www.twitter.com/KwintenP" target="_blank">
      <fa-icon class="twitter" [icon]="['fab', 'twitter']"></fa-icon>
      <span class="name">Kwinten</span>
    </a>
  </div>
</div>
