@import '../../../scss/variables';
@import '@angular/material/theming';

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
  mat-checkbox {
    margin-right: 0.5rem;
    color: #757575;
  }

  mat-icon {
    padding-left: 13px;
    margin-right: 1rem;
  }

  ac-checklist-metadata {
    margin-left: auto;
  }
}

main {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  line-height: 1.5;
  margin-top: 1.5rem;

  ::ng-deep {
    :not(pre) code {
      margin: 0;
      padding: 0.2em 0.4em;
      background-color: rgba(27, 31, 35, 0.05);
      border-radius: 3px;
    }

    a {
      color: mat-color($primary);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
