@import '../../../scss/variables';
@import '~@angular/material/theming';

:host {
  display: block;
  padding: 30px;
}

header {
  color: mat-color($accent);
  padding: 10px 5px;
  min-height: 25px;
  font-size: 1.3rem;
  border-bottom: 1px solid gainsboro;
}

.category {
  padding: 12px 0 8px;
  margin: 0;

  h4 {
    margin: 0 0 0.5rem;
  }
}
