@import '~normalize.css/normalize.css';
@import '~highlight.js/styles/atom-one-dark.css';
@import './scss/theme.scss';

html,
body {
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  color: mat-color($primary);
  text-decoration: none;
}
