@import '~normalize.css/normalize.css';
@import '~highlight.js/styles/atom-one-dark.css';
@import './scss/theme.scss';

html,
body {
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

a {
  color: mat-color($primary);
  text-decoration: none;
}

.ck-icon {
  mat-icon {
    color: #d4d4d4;
  }
}

.ck-icon:hover {
  mat-icon {
    color: mat-color($primary, 500) !important;
  }
  background: #f1eded !important;
  border-radius: 100%;
  box-sizing: border-box;
}
