@use './scss/custom-theme' as theme;
@import 'normalize.css/normalize.css';
@import 'highlight.js/styles/atom-one-dark.css';
@import 'scss/index';

html,
body {
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

a {
  color: theme.$primary;
  text-decoration: none;
}

.hljs {
  padding: 0.5em;
  border-radius: 8px;
}

// adding position and dimensions styles to avoid icon flickering with SSR
.svg-inline--fa {
  vertical-align: -0.125em;
}

fa-icon svg {
  display: inline-block;
  font-size: inherit;
  height: 1em;
}

fa-icon .fa-2x {
  font-size: 2em;
}
