@import '~normalize.css/normalize.css';
@import '~highlight.js/styles/atom-one-dark.css';
@import './scss/theme.scss';

html,
body {
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

a {
  color: mat-color($primary);
  text-decoration: none;
}

.hljs {
  padding: 0.5em;
  border-radius: 8px;
}

// To avoid icon flickering
.svg-inline--fa {
  vertical-align: -0.125em;
}

fa-icon svg {
  display: inline-block;
  font-size: inherit;
  height: 1em;
}

fa-icon .fa-2x{
  font-size: 2em;
}
