@import '~@angular/material/theming';

@include mat-core();

$custom-green: (
  50: #e3f2fd,
  100: #bbdefb,
  200: #90caf9,
  300: #64b5f6,
  400: #42a5f5,
  500: #0d47a1,
  600: #0d47a1,
  700: #0d47a1,
  800: #0d47a1,
  900: #0d47a1,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
$primary: mat-palette($custom-green);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$app-primary: $primary;
$app-accent: $accent;
$app-warn: $warn;
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);


$theme: mat-light-theme($primary, $accent, $warn);


@include angular-material-theme($theme);

// // Our dark theme
// .dark-theme {
//   color: $light-primary-text;
//   $dark-primary: mat-palette($mat-yellow);
//   $dark-accent: mat-palette($mat-amber, A400, A100, A700);
//   $dark-warn: mat-palette($mat-red);
//   $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

//   @include angular-material-theme($dark-theme);
// }
