@import '../../../scss/mixins';
@import '../../../scss/variables';
@import '~@angular/material/theming';

:host {
  display: block;
  padding: 20px 30px;
}

header {
  color: mat-color($accent);
  padding: 10px 5px;
  min-height: 25px;
  font-size: 1.3rem;
  border-bottom: 1px solid gainsboro;
}

.category {
  padding: 12px 0 8px;
  margin: 0;

  h4 {
    margin: 0 0 0.5rem;
  }
}

.no-favorites {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    color: #7a7a7a;
  }

  img {
    margin: 30px 0 15px;
    width: 250px;

    @include small-only() {
      width: 200px;
    }
  }
}
