@use '../../../scss/custom-theme' as theme;
@import '../../../scss/mixins';

mat-toolbar {
  height: 45px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem !important;
  font-weight: 300 !important;
}

.links {
  flex: 1;

  .cta + .cta {
    margin-left: 15px;
  }
}

.cta {
  background: transparent;
  border: 0;
  padding: 0;
  outline: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;

  fa-icon {
    margin-right: 5px;
  }

  &:hover {
    color: theme.$primary;
  }
}

.links {
  min-height: 34px;
}

ac-authors {
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
