<mat-toolbar>
  <div class="links">
    <button class="cta" (click)="showAbout()">
      <fa-icon icon="info"></fa-icon>
      <span>Owner</span>
    </button>
    <a class="cta" href="skype:thaihoanghai.it?chat" target="_blank">
      <fa-icon class="skype" [icon]="['fab', 'skype']"></fa-icon>
      <i class="fab fa-skype"></i> <span class="name">Hai Thai</span>
    </a>
    <a class="cta" href="https://github.com/kobee-tech-stack/angular-checklist/" target="_blank">
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
      <span>GitHub</span>
    </a>
  </div>
  <ac-authors></ac-authors>
</mat-toolbar>
