<mat-toolbar>
  <div class="links">
    <a
      class="cta"
      href="https://github.com/angular-checklist/angular-checklist"
      target="_blank"
    >
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
      <span>GitHub</span>
    </a>
    <a
      class="cta"
      href="https://github.com/angular-checklist/angular-checklist/blob/master/CONTRIBUTING.md"
      target="_blank"
    >
      <fa-icon icon="hands-helping"></fa-icon>
      <span>Contribute</span>
    </a>
    <button class="cta" (click)="showAbout()">
      <fa-icon icon="info"></fa-icon>
      <span>About</span>
    </button>
  </div>
  <ac-authors></ac-authors>
</mat-toolbar>
