<mat-toolbar>
  <div class="links">
    <a href="https://github.com/angular-checklist/angular-checklist" target="blank">
      <fa-icon [icon]="['fab','github']"></fa-icon>
      <span>GitHub</span>
    </a>
    <a href="#" target="blank">
      <fa-icon icon="hands-helping"></fa-icon>
      <span>Contribute</span>
    </a>
    <a href="#" target="blank">
      <fa-icon icon="bell"></fa-icon>
      <span>Subscribe</span>
    </a>
  </div>
  <div class="authors">
    <span>Made with <fa-icon class="heart" icon="heart"></fa-icon> by</span>
    <a class="author" href="https://www.twitter.com/elmd_" target="blank">
      <fa-icon class="twitter" [icon]="['fab','twitter']"></fa-icon>
      <span>Dominic Elm</span>
    </a>
    <span>&</span>
    <a class="author" href="https://www.twitter.com/KwintenP" target="blank">
      <fa-icon class="twitter" [icon]="['fab','twitter']"></fa-icon>
      <span>Kwinten Pisman</span>
    </a>
  </div>
</mat-toolbar>