@import '../../../scss/variables';
@import '~@angular/material/theming';

mat-toolbar {
  height: 45px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem !important;
  font-weight: 300 !important;

  a {
    cursor: pointer;
    color: inherit;

    fa-icon {
      margin-right: 5px;
    }

    &:hover {
      color: mat-color($primary);
    }
  }
}

.links {
  flex: 1;

  a + a {
    margin-left: 15px;
  }
}

.heart {
  color: rgba(244, 81, 30, 0.9);
}

.authors {
  span:first-child {
    margin-right: 10px;
  }

  span:not(:first-child) {
    margin: 0 5px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.author {
  font-size: 0.8rem;
  background: #e2e2e2;
  border-radius: 15px;
  padding: 4px 10px;

  &:hover {
    background: mat-color($primary);
    color: white !important;
  }
}
